@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Share+Tech+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Montserrat', sans-serif;
}
h5{
    font-family: 'Montserrat', sans-serif;
}
.text-yt-content ul, #mark ul{
    font-family: 'Montserrat', sans-serif;
}
.loading{
    background-color: rgba(255, 255, 255, 0.96);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.loading .loading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/loading.jpg');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 60s linear infinite;
}
.loading .loading-text h1{
    font-family: "Oswald", Impact;
    font-weight: bold;
    font-size: 5rem;
}
.loading .loading-text h2{
    font-family: "Oswald", Impact;
    font-weight: bold;
}
.loading .loading-text h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    letter-spacing: 1.2rem;
}
#mark ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#mark li { 
    padding-left: 16px; 
}
#mark li::before {
    content: "➤";
    padding-right: 8px;
    color: orange; 
  }
.active{
    color: #fff !important;
}
.text-justify{
    text-align: justify !important;
}
.pos-rel{
    position: relative;
}
.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}
.profile-menu .fa-fw {
    margin-right: 10px;
}
.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Oswald", Impact;
}
.navbar-brand{
    font-weight: 100;
}
.nav-item{
    font-weight: 500;
    letter-spacing: 3px;
}
.bg-purple{
    background-color: rgb(94, 42, 23);
}
.bg-pink-half{
    background-color: #b94a009e;
}
.showcase{
    height: 100vh;
    width: 100%;
    background: url('../img/1.jpg') top center;
    background-size: cover;
    position: relative;
    padding: 0;
    background-attachment: fixed;
}
.showcase:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.showcase-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showcase-abs h1{
    font-family: 'Oswald', Impact;
    font-size: 4rem;
    color: orange;
    margin-bottom: 1rem;
}
.orange-outline-btn{
    font-family: 'Share Tech Mono';
    font-size: 20px;
    color: #fff;
    background: none;
    border: 4px solid orange;
    padding: 8px 20px;
    transition: 0.4s ease-out;
}
.orange-outline-btn:hover{
    background: orange;
    color: #000;
}
.orange-round-btn{
    font-family: 'Share Tech Mono';
    font-size: 17px;
    color: #000;
    background: orange;
    border: 4px solid orange;
    border-radius: 40px;
    padding: 6px 24px;
    transition: 0.4s ease-out;
}
.orange-round-btn:hover{
    color: orange;
    background: none;
}
.heading{
    color: orange;
    font-family: 'Oswald', Impact;
    text-shadow: 1px 1px 2px #6f4c0b;
}
.sub-heading{
    color: orange;
    font-family: 'Oswald', Impact;
    margin-bottom: 1.2rem;
    text-shadow: 1px 1px 2px #6f4c0b;
}
#organizers{
    background-image: url('../img/3.jpg');
    background-size: cover;
    position: relative;
    padding: 0;
    background-attachment: fixed;
}
#organizers:before {
    content: "";
    background: rgba(211, 211, 211, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.gcard{
    background: rgba(158, 158, 158, 12%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 0px;
    box-shadow: 2px 2px 8px #9e9e9e;
    transition: 0.4s ease-out;
}
.gcard:hover{
    border-radius: 20px;
    box-shadow: 2px 2px 8px #494949;
}
.wcard {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all ease-in-out 0.3s;
    background: white;
    height: 400px;
    justify-content: center;
    position: relative;
    
}
.wcard:hover .wcard-abs{
    transform: translate(-50%, -65%);
}
.wcard-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.4s ease-out;
    width: 80%;
}
.time-date{
    color: cornflowerblue;
}
#registration{
    background-image: url('../img/2.jpg');
    background-size: cover;
    position: relative;
    padding: 0;
    background-attachment: fixed;
}
#registration:before {
    content: "";
    background: rgba(211, 211, 211, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
footer{
    background-color: rgb(94, 42, 23);
}
.credit{
    border-radius: 20px 20px 0 0;
}
.credit a{
    color: orange;
}
.credit a:hover{
    color: rgb(255, 204, 110);
}
.abs-para{
    position: relative;
}
.abs-para .text-yt-content{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 991.98px) {
    .abs-para  .text-yt-content{
        margin-top: 2rem;
        width: auto;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }
}
.card-block{
    height: 300px;
}
.price-line{
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3cpath d='M1512 560L0 560 L0 342.37Q20.39 290.76%2c 72 311.16Q100.55 267.71%2c 144 296.25Q237.26 269.51%2c 264 362.78Q290.51 317.29%2c 336 343.8Q389.91 277.71%2c 456 331.62Q507.44 263.06%2c 576 314.49Q620.51 239%2c 696 283.52Q785.08 252.6%2c 816 341.67Q865.72 319.39%2c 888 369.12Q942.72 303.84%2c 1008 358.56Q1032.39 262.96%2c 1128 287.35Q1205.97 245.33%2c 1248 323.3Q1309.53 312.83%2c 1320 374.35Q1341.55 275.9%2c 1440 297.45Q1469.06 254.5%2c 1512 283.56z' fill='rgba(185%2c 124%2c 13%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 421.29Q63.05 364.34%2c 120 427.38Q157.22 344.6%2c 240 381.82Q292.75 362.56%2c 312 415.31Q341.57 324.88%2c 432 354.45Q509.9 312.35%2c 552 390.25Q607.63 373.88%2c 624 429.51Q651.87 385.38%2c 696 413.24Q713.77 359.01%2c 768 376.78Q813.61 350.39%2c 840 396Q859.31 343.31%2c 912 362.61Q959.64 338.25%2c 984 385.9Q1074 355.9%2c 1104 445.9Q1157.11 379.01%2c 1224 432.12Q1247.99 384.12%2c 1296 408.11Q1306.61 346.72%2c 1368 357.32Q1434.54 303.86%2c 1488 370.4z' fill='rgba(255%2c 166%2c 2%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 483.49Q48.91 412.4%2c 120 461.32Q207.43 428.75%2c 240 516.18Q283.2 439.38%2c 360 482.57Q387.36 437.93%2c 432 465.29Q454.57 415.87%2c 504 438.44Q586.42 400.86%2c 624 483.28Q693.52 432.8%2c 744 502.33Q775.61 413.94%2c 864 445.55Q891.37 400.91%2c 936 428.28Q986.16 406.44%2c 1008 456.6Q1059.92 436.52%2c 1080 488.44Q1132.68 421.12%2c 1200 473.8Q1243.55 397.35%2c 1320 440.9Q1367.09 415.99%2c 1392 463.07Q1448.31 447.38%2c 1464 503.69z' fill='rgba(255%2c 200%2c 98%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 490.36Q85.81 456.17%2c 120 541.99Q160.66 462.65%2c 240 503.32Q282.71 474.03%2c 312 516.74Q374.39 507.13%2c 384 569.52Q400.66 514.18%2c 456 530.85Q471.63 474.49%2c 528 490.12Q601.37 443.49%2c 648 516.86Q701.98 450.84%2c 768 504.82Q815.43 480.25%2c 840 527.69Q902.63 518.32%2c 912 580.94Q941.83 538.77%2c 984 568.59Q996.96 509.55%2c 1056 522.51Q1082.63 477.14%2c 1128 503.78Q1187 490.78%2c 1200 549.79Q1275.67 505.46%2c 1320 581.14Q1349.97 491.11%2c 1440 521.07Q1486.41 495.48%2c 1512 541.89z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    border: 1px solid #494949;
    transition: 0.4s ease-out;
    font-family: 'Montserrat', sans-serif;
}
.price-line:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.price-img img{
    width: 100%;
}
.footer-logo img{
    height: 100px;
}



@keyframes animate {
	from {
	    background-position: 0 0;
	}
	/*use negative width if you want it to flow right to left else and positive for left to right*/
	to {
        background-position: -10000px 0;
	}
}